.HomePage{
  p{
    margin-left: 20%;
    margin-right: 20%;
  }
}
.details{
  border: 1px solid #1C6EA4;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
  padding: 50px 10px;
}
.suggestions{
  font-size: large;
  font-weight: bold;
}