.HomePage{
  .details{
    border: 1px solid #1C6EA4;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
    padding: 50px 10px;
  }
  .suggestions{
    font-weight: bold;
  }
  .ThemeCard{
    margin: 15px 0
  }
}
